.fl { float: left; }
.fr { float: right; }
.cl{ clear:both;}
.tj{display:none;}

p {color: #505050;font-size: 12px;line-height: 20px;}
a {color: #00addc;text-decoration: none;}
a:hover, a:active, input { outline: none; }
#zhqz{color:#00ADDC;font-size:30px;}
.sf-menu { line-height: 1.0; }
.sf-menu a, .sf-menu a p{ color: #fff !important; font-size: 14px; }
.top { background:#333;position:relative;z-index:2 } 
.t_main label{ color:#000; cursor:pointer}
.black{ color:#00addc; font-size:22px;}
.mt10{ margin-top:10px;}
.fred{ color:#f00}
table.font1{ font-family:Tahoma, Geneva, sans-serif;}
/* main */
h3,h4{ font-size:16px; font-family:"Microsoft Yahei","黑体"; color:#333;  padding:15px 0 5px 0; margin-bottom:10px;}
textarea.f_t1{ width:948px; height:300px; font-size:12px; font-family:Tahoma, Geneva, sans-serif; line-height:20px; padding:5px;border-radius:3px;border:1px solid #ccc;resize: none;}
textarea.f_t2{ width:800px; height:40px;font-size:12px; font-family:Tahoma, Geneva, sans-serif; line-height:20px; padding:5px;border-radius:3px;border:1px solid #ccc;resize: none;}
.dtable2 tr td{ padding:10px 0; font-size:12px; vertical-align:middle}
.h3_t{ font-size:18px; border-bottom:1px solid #ccc; padding-bottom:10px; margin-bottom:0;}
.h3_t small{ font-size:12px; font-weight:normal; color:#999;}
h4{ font-size:14px; color:#666}
input.input1{border:1px solid #ccc;border-radius:2px;  color:#666;padding:7px 8px;padding:8px 8px 6px 8px\9; height:23px; line-height:23px; overflow:hidden; font-family:Tahoma, Geneva, sans-serif; font-weight:bold;
font-size:14px;width:200px;position: relative;}
textarea.h150{ height:150px;}
.ts {padding:5px 10px;  margin:10px auto 0 auto;  border-radius:3px;}
.ts p span{ color:#f00; font-weight:bold; padding:0 5px; font-size:14px;}


.footer{ padding:20px 0; text-align:center; font-size:12px; border-top:1px solid #E7E8E9; color:#979797; margin-top:20px;}
.footer a,.footer strong{ color:#979797; font-weight:normal;}
/* 输入框 */
textarea,input {-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;-moz-transition: border linear 0.2s, box-shadow linear 0.2s;-ms-transition: border linear 0.2s, box-shadow linear 0.2s;-o-transition: border linear 0.2s, box-shadow linear 0.2s;transition: border linear 0.2s, box-shadow linear 0.2s;-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);}
textarea:focus,input:focus {outline: 0;border-color: rgba(82, 168, 236, 0.8);-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);}
textarea:focus{ background:#E1F1FD;}
/* 按钮 */
.button {cursor:pointer;-moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px;-moz-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.2);-webkit-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.2);box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.2);border: 1px solid;padding: 8px 12px;padding: 5px 8px 3px 8px\9;padding: 7px 14px\0;color: #fff;font-family:"Microsoft Yahei", Arial, Tahoma, sans-serif;font-size: 14px;font-weight: bold;text-shadow: -1px -1px rgba(0,0,0,0.1), 0 0 15px rgba(255,255,255,0.75);white-space: nowrap;background: #777;border-color: #777;text-decoration: none;font-style: normal;text-transform: none; *border:none;*bottom: 1px;}

.button:hover,.button:focus {bottom: 1px;-moz-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 3px 2px rgba(0,0,0,0.2);-webkit-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 3px 2px rgba(0,0,0,0.2);box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 3px 2px rgba(0,0,0,0.2);background: #999;border-color: #999;}
.button:active {top: 1px;-moz-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.2);-webkit-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.2);box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.2);}

.default {-moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px;}
.square {-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.bubble {-moz-border-radius: 12px;-webkit-border-radius: 12px;border-radius: 12px;}

.lan {background: #1ab5e3;border-color: #1ab5e3;}
.lan:hover,.lan:focus {background: #6ab5e3;border-color: #6ab5e3;}
.red {background: #d9342b;border-color: #d9342b;}
.red:hover,.red:focus {background: #f9342b;border-color: #f9342b;}
.lv {background: #71AF2A;border-color: #5D9122;}
.lv:hover,.lv:focus {background: #7EC32F;border-color: #649B25; }
.qing {background: #28AF59;border-color: #22954C;}
.qing:hover,.qing:focus {background: #2FCD69;border-color: #29B35B;}
.zi {background: #9F1D78;border-color: #9F1D78;}
.zi:hover,.zi:focus {background: #CF33A0;border-color: #CF33A0;}
.juhuang {background: #FF5F09;border-color: #FF5F09;}
.juhuang:hover,.juhuang:focus {background: #FF7F09;border-color: #FF7F09;}
.hui {background: #777;border-color: #777;}
.hui:hover,.hui:focus {background: #999;border-color: #999;}
.black{background: #000;border-color: #000;}
.black:hover,.black:focus { color: #fff; background: #111;}

.b1_2{ margin-top:10px;}

.dtable {background-color: #FFFFFF;border: 1px solid #D0D0D2; color:#333;box-shadow: 0 1px 1px #DDDDDD;margin:5px auto;width: 100%;font-family: "Microsoft YaHei",Arial,sans-serif;}
.dtable thead {background-color: #F1F1F1;}
.dtable thead th {font-weight: bold;text-align: left;}
.tcen,.tcen thead th,.tcen tr td{ text-align:center;}
.dtable th, .dtable td {border-bottom: 1px solid #D0D0D2;padding: 10px;}
.dtable tr:hover {background-color: #F1F1F1;}
.dtable tr.bgfff:hover {background-color: #fff;}
.dtable td p {clear: both;float: none;height: 30px;line-height: 30px;overflow: hidden;}
table {border-collapse: collapse;border-spacing: 0;}

.jl_list ul li{ float:left;}
.sfz ul li{ margin:0 10px 5px 0; height:20px; line-height:20px; width:180px; overflow:hidden;}
.sfz ul li a{ font-size:12px; color:#666;}
.sfz ul li a:hover{ color:#1A6CC1; text-decoration:underline;}

.links small{ font-size:14px;}
.links span{ font-size:22px;}

.js-css-compress-wrap{ margin: 0 auto; padding-bottom: 50px; width: 1200px;}
.js-css-compress-title{ padding: 50px 0 20px; margin-left: 20px; width: 1000px; color: #d9342b; font-size: 18px;}
#content{ color:#333;font-size:14px; width: 1000px; height:350px; box-sizing: border-box;}
.right-content{}
.right-content .other-tools{ margin-bottom: 10px; padding: 50px 0 20px; width: 100px; text-align: center;}
.right-content ul li{ margin-bottom: 15px;}
.right-content ul li:hover .t-img{ -webkit-transform:translateY(-5px); -moz-transform:translateY(-5px); -ms-transform:translateY(-5px); transform:translateY(-5px);}
.right-content ul li:hover a{ color: #d9342b;}
.right-content ul li a{ display: block; text-align: center;}
.t-img{ position: relative; z-index: 1; margin: 0 auto; width: 60px; height: 60px;
	-webkit-transition: transform .6s ease;
	   -moz-transition: transform .6s ease;
	    -ms-transition: transform .6s ease;
		    transition: transform .6s ease;
}
.t-tit{ height: 20px; line-height: 20px; font-size: 12px; text-align: center;}
.t-tit a{ color: #333; text-decoration: none;}
